#root {
    text-align: center;
}

.page-container {
    box-sizing: border-box;

    width: auto;
    max-height: 480px;

    padding: 0 30px;
    margin: 0 auto;

}

.main-container{
    background-color: #EDEDED;
    margin-bottom: 50px;

    height: 660px;
}

.header {
    background-color: var(--color-white);

    border-bottom: 2px solid var(--color-gray-2);

    .header-pc {
        display: none;
    }

    .header-mobile {

        padding-top: 16px;
        padding-bottom: 16px;

        max-height: 25px;

        display: flex;
        flex-direction: column;
        gap: 20px;
        transition: max-height .3s ease-in-out;


        .main, .buttons {
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: var(--color-gray-4);
        }

        .buttons {
            max-height: 0;
            opacity: 0;
            transform: translateY(-15px);
            overflow: hidden;
            transition: max-height .3s ease-in-out, opacity .3s ease-in-out, transform .3s ease-in-out;
        }

        .logo {
            cursor: pointer;
            transition: all .3s;
        }

        .logo:hover {
            color: var(--color-black);
        }

        .button {
            cursor: pointer;
            transition: all .3s;
        }

        .button:hover {
            color: var(--color-black);
        }

        .arrow {
            display: flex;
            align-items: center;
            justify-content: center;
            .image {
                width: 25px;
                height: 25px;
            }
        }
    }
    .header-mobile.active {
        max-height: 200px;
    }

    .header-mobile.active .buttons {
        max-height: 200px;
        opacity: 1;
        transform: translateY(0);
    }

}

@media (min-width: 359px) {
}

@media (min-width: 479px) {
    .page-container {
        max-width: 766px;
        padding: 0 39px;
    }
}

@media (min-width: 767px) {
    .page-container {
        max-width: 768px;
    }

    .main-container{
        max-width: 768px;
        margin: 0 auto 50px;
    }

    .header{
        .header-mobile {
            display: none;
        }

        .header-pc{
            color: var(--color-gray-4);

            display: flex;
            justify-content: space-between;
            align-items: center;


            padding: 18px 0;

            .buttons{
                display: flex;

                .button{
                    margin: 0 15px;
                }
            }

            .logo {
                cursor: pointer;
                transition: all .3s;
            }

            .logo:hover {
                color: var(--color-black);
            }

            .special-btn{
                cursor: pointer;
                transition: all .3s;
            }

            .special-btn:hover {
                color: var(--color-black);
            }

            .button {
                cursor: pointer;
                transition: all .3s;
            }

            .button:hover {
                color: var(--color-black);
            }
        }

    }


}

@media (min-width: 959px) {
    .page-container {
        max-width: 960px;
        padding: 0 75px;
    }

    .main-container{
        max-width: 960px;
    }
}

@media (min-width: 1199px) {
    .page-container {
        max-width: 1200px;
        padding: 0 115px;
    }

    .main-container{
        max-width: 1200px;
    }
}