#root {
    text-align: center;
}

.page-container {
    box-sizing: border-box;

    width: auto;

    padding: 0 30px;
    margin: 0 auto;

}

.main-container {
    background-color: var(--color-gray-1);

    margin-bottom: 50px;

    height: 660px;
}

.header {
    position: sticky;
    top: 0px;

    z-index: 10;

    background-color: var(--color-white);

    border-bottom: 2px solid var(--color-gray-2);

    .header-pc {
        display: none;
    }

    .header-mobile {

        padding-top: 16px;
        padding-bottom: 16px;

        max-height: 25px;

        display: flex;
        flex-direction: column;
        gap: 20px;
        transition: max-height .3s ease-in-out;


        .main, .buttons {
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: var(--color-gray-4);
        }

        .buttons {
            max-height: 0;
            opacity: 0;
            transform: translateY(-15px);
            overflow: hidden;
            transition: max-height .3s ease-in-out, opacity .3s ease-in-out, transform .3s ease-in-out;
        }

        .logo {
            cursor: pointer;
            transition: all .3s;
        }

        .logo:hover {
            color: var(--color-black);
        }

        .button {
            cursor: pointer;
            transition: all .3s;
        }

        .button:hover {
            color: var(--color-black);
        }

        .arrow {
            display: flex;
            align-items: center;
            justify-content: center;

            .image {
                width: 25px;
                height: 25px;

                transition: all .3s ease-in-out;
            }

            .image.active{
                transform: rotate(180deg);
            }
        }
    }

    .header-mobile.active {
        max-height: 200px;
    }

    .header-mobile.active .buttons {
        max-height: 200px;
        opacity: 1;
        transform: translateY(0);
    }

}

.services {
    background-color: var(--color-gray-1);

    margin-bottom: 50px;

    .title {
        text-align: left;

        color: var(--color-black);

        padding-top: 70px;
        margin-bottom: 28px;
    }

    .content {
        padding-bottom: 70px;
        display: grid;

        grid-template-areas:
            "first-block"
            "second-block"
            "third-block";

        gap: 30px;

        .block {
            border-radius: 16px;

            .image {
                border-top-right-radius: 16px;
                border-top-left-radius: 16px;

                height: auto;
                width: 100%;
                position: relative;
            }

            background-color: var(--color-white);

            .body {
                color: var(--color-black);

                padding: 24px;

                text-align: left;

                .top {
                    margin-bottom: 12px;
                }

                .text {
                    margin-bottom: 28px;
                }

                .price {
                    margin-bottom: 12px;
                }

                .button {
                    background-color: var(--color-gray-1);
                    border-radius: 100px;

                    width: max-content;

                    padding: 16px 28px;

                    display: flex;
                    align-items: center;

                    transition: all .3s;
                }

                .button:active {
                    color: var(--color-white);
                    background-color: var(--color-black);
                }
            }
        }

        .block:nth-child(1) {
            grid-area: first-block;
        }

        .block:nth-child(2) {
            grid-area: second-block;
        }

        .block:nth-child(3) {
            grid-area: third-block;
        }

    }
}

.whyme {
    background-color: var(--color-gray-1);

    margin-bottom: 50px;
    padding-bottom: 70px !important;

    .title {
        text-align: left;

        color: var(--color-black);

        padding-top: 70px;
        margin-bottom: 28px;
    }

    .content {
        display: flex;
        flex-direction: column;
        gap: 30px;

        .block {
            display: flex;
            flex-direction: row;
            gap: 30px;

            .image-container, .body {
                width: calc(50% - 15px);
            }

            .image-container {
                .image {
                    position: relative;
                    width: 100%;
                }
            }

            .body {
                text-align: left;

                .top {
                    margin-bottom: 16px;
                }
            }
        }
    }
}

.slider {
    background-color: var(--color-gray-1);

    margin-bottom: 50px;
    padding-bottom: 110px !important;

    .title {
        text-align: left;

        color: var(--color-black);

        padding-top: 70px;
        margin-bottom: 28px;
    }

    .slider-container {
        .slick-prev:before, .slick-next:before {
            content: none;
        }

        .slick-next {
            background-image: url("./assets/images/slider/arrowR.png");

            transition: all .3s;
        }

        .slick-next:hover {
            background-image: url("./assets/images/slider/arrowRH.png");
            background-color: var(--color-gray-2) !important;
        }

        .slick-next:active {
            background-image: url("./assets/images/slider/arrowRA.png");
            background-color: var(--color-black) !important;
        }

        .slick-prev {
            background-image: url("./assets/images/slider/arrowL.png");

            transition: all .3s;
        }

        .slick-prev:hover {
            background-image: url("./assets/images/slider/arrowLH.png");
            background-color: var(--color-gray-2) !important;
        }

        .slick-prev:active {
            background-image: url("./assets/images/slider/arrowLA.png");
            background-color: var(--color-black) !important;
        }
    }

    .content {
        .block {
            width: calc(100% - 20px) !important;

            border-radius: 32px;

            .image {
                border-top-right-radius: 32px;
                border-top-left-radius: 32px;

                height: auto;
                width: 100%;
                position: relative;
            }

            background-color: var(--color-white);

            .body {
                color: var(--color-black);

                padding: 16px;

                text-align: left;

                .top {
                    margin-bottom: 8px;
                }

                .text {
                    margin-bottom: 16px;
                }

                .button {
                    background-color: var(--color-gray-1);
                    border-radius: 100px;

                    padding: 16px 28px;

                    color: var(--color-gray-4);

                    display: flex;
                    align-items: center;
                    justify-content: center;

                    transition: all .3s;
                }

                .button:active {
                    color: var(--color-white);
                    background-color: var(--color-black);
                }
            }
        }
    }
}

@media (min-width: 359px) {
}

@media (min-width: 479px) {
    .page-container {
        max-width: 766px;
        padding: 0 39px;
    }

    .services {
        .content {
            .body {
                .text {
                    margin-right: 95px;
                }
            }
        }
    }

    .slider {
        .content {
            .block {
                .body {
                    padding: 24px;

                    .top {
                        font-size: 24px !important;
                    }

                    .text {
                        font-size: 16px !important;
                        margin-bottom: 24px;
                    }
                }
            }
        }
    }
}

@media (min-width: 767px) {
    .page-container {
        max-width: 768px;
    }

    .main-container {
        max-width: 768px;
        margin: 0 auto 50px;
    }

    .header {
        .header-mobile {
            display: none;
        }

        .header-pc {
            color: var(--color-gray-4);

            display: flex;
            justify-content: space-between;
            align-items: center;


            padding: 18px 0;

            .buttons {
                display: flex;

                .button {
                    margin: 0 15px;
                }
            }

            .logo {
                cursor: pointer;
                transition: all .3s;
            }

            .logo:hover {
                color: var(--color-black);
            }

            .special-btn {
                cursor: pointer;
                transition: all .3s;
            }

            .special-btn:hover {
                color: var(--color-black);
            }

            .button {
                cursor: pointer;
                transition: all .3s;
            }

            .button:hover {
                color: var(--color-black);
            }
        }

    }

    .services {
        .content {

            grid-template-areas:
            "first-block first-block"
            "second-block third-block";

            .block {
                .body {
                    .text {
                        margin-right: 0;
                    }
                }
            }

            .block:nth-child(1) {
                grid-area: first-block;
                grid-column: span 2;

                display: flex;

                .image {
                    object-fit: cover;
                    object-position: center;

                    width: 62%;

                    border-top-right-radius: 0;
                    border-bottom-left-radius: 16px;

                }

            }

            .block:nth-child(2) {
                grid-area: second-block;
            }

            .block:nth-child(3) {
                grid-area: third-block;
            }

        }
    }

    .whyme {
        .content {
            flex-direction: row;
            flex-wrap: wrap;

            .block {
                width: calc(50% - 15px);
            }
        }
    }

    .slider {
        .content {
            .block {
                border-radius: 16px;


                .image {
                    border-top-right-radius: 16px;
                    border-top-left-radius: 16px;

                }

                .body {
                    padding: 16px;

                    .top {
                        margin-bottom: 4px;

                        font-size: 20px !important;
                    }

                    .text {
                        margin-bottom: 16px;

                        font-size: 16px !important;
                    }

                    .button {
                        width: min-content;
                    }
                }

            }

            .slider-container {
                .slick-prev{
                    top: -45px !important;
                    left: 540px !important;
                }

                .slick-next{
                    top: -45px !important;
                    left: 625px !important;
                }
            }
        }
    }

}

@media (min-width: 959px) {
    .page-container {
        max-width: 960px;
        padding: 0 75px;
    }

    .main-container {
        max-width: 960px;
    }

    .whyme {
        .content {
            gap: 36px;

            .block {
                width: calc(50% - 18px);
            }
        }
    }

    .slider {
        .content {

            .block {
                .body {
                    padding: 24px;

                    .top {
                        font-size: 24px !important;
                    }

                    .text {
                        font-size: 16px !important;
                        margin-bottom: 24px;
                    }
                }
            }

            .slider-container {
                .slick-prev{
                    left: 660px !important;
                }

                .slick-next{
                    left: 745px !important;
                }
            }
        }
    }
}

@media (min-width: 1199px) {
    .page-container {
        max-width: 1200px;
        padding: 0 115px;
    }

    .main-container {
        max-width: 1200px;
    }

    .services {
        .content {

            gap: 35px;

            .block {
                .body {
                    padding: 32px;

                    .text {
                        font-size: 16px !important;
                    }

                    .top, .price {
                        margin-bottom: 16px;
                    }
                }
            }


            .block:nth-child(1) {
                .text {
                    margin-bottom: 96px;
                }

            }

        }
    }

    .whyme {
        .content {

            .block {
                .text {
                    margin-right: 40px;
                }
            }
        }
    }

    .slider {
        .content {

            .block{
                .body{
                    .text{
                        font-size: 16px !important;
                    }
                }
            }



            .slider-container {
                .slick-prev{
                    left: 835px !important;
                }

                .slick-next{
                    left: 910px !important;
                }
            }
        }
    }
}